#projectInfo .subTask {
  & article {
    margin: 3rem 0 1rem 0;

    & > * {
      animation: slideUp 1s ease-out;
    }
    & h3,
    & .mockH3 {
      font-size: var(--h3);
      color: var(--text-primary);
      border-bottom: 1px solid var(--border);
    }

    & ul {
      list-style: none;

      & li {
        cursor: pointer;
        margin: 0.875rem 0;
        font-size: var(--para);
        color: var(--text-secondary);
        display: flex;
        align-items: first baseline;

        & p,
        & .mockP {
          margin-bottom: 0;
        }

        & p:hover {
          text-decoration: underline;
        }

        & .markIcon {
          color: transparent;
          min-width: var(--checkMark-size);
          min-height: var(--checkMark-size);
          width: var(--checkMark-size);
          height: var(--checkMark-size);
          border: 2px solid var(--text-secondary);
          border-radius: 0.15rem;
          margin-right: 0.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 900;
        }

        &.completed .markIcon {
          color: inherit;
          border: 2px solid var(--border);
          animation: checkIn 0.2s ease-out forwards;
        }
      }
    }
  }
}

@keyframes checkIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
